#Visual Studio Ignore 
*.user
*.filters 
Debug/
Release/
src/Dependencies/

#Codeblocks Ignore
*.cbp
*.o
*.exe
*.depend
*.cscope_file_list
*.layout

#General
*.dll
/.idea
/.vs
/cmake-build-debug
.vcxproj
