#Visual Studio Ignore 
*.user
*.filters 
*.vcxproj 
*.sln
*.obj
Object/
Debug/
Release/
src/Dependencies/

#Codeblocks Ignore
*.cbp
*.o
*.exe
*.depend
*.cscope_file_list
*.layout

#General
*.dll
/.idea
/.vs
/cmake-build-debug
.vcxproj

#Project Ignore
*.cy
*.bcy

/cy_files/binary

#Cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
